@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>PREBA FALABELLA</h1>
        <p class="lead">Desarrollado en MVC y WebApi</p>
    </div>*@
<style>

    body {
        background-color: #848484;
    }
</style>
<div class="card mb-12 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex  text-center justify-content-center">
        <h3 class=" text-center card-title">Prueba Tecnica Casa Editorial el Tiempo </h3>
    </div>

</div>
<br />
<div class="row text-center justify-content-center">

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2> Clientes</h2>
                <p>
                    Crea, ve los detalles, Modifica y Elimina
                </p>
                <p><a class="btn btn-default" href="https://localhost:44362/Ciudades">Ir ... &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2> Vendedores</h2>

                <p>Crea, ve los detalles, Modifica y Elimina.</p>
                <p><a class="btn btn-default" href="https://localhost:44362/Vendedor">Ir ... &raquo;</a></p>
            </div>
        </div>
    </div>

</div>
