@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PREBA FALABELLA</h1>
    <p class="lead">Desarrollado en MVC y WebApi</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Crea los Clientes</h2>
        <p>
            Crea, ve los detalles, Modifica y Elimina
        </p>
        <p><a class="btn btn-default" href="https://localhost:44362/Clientes">Administracion de Clientes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Crea tus Aliados</h2>
        
        <p>Crea, ve los detalles, Modifica y Elimina.</p>
        <p><a class="btn btn-default"  href="https://localhost:44362/Aliados">Administracion de Aliados &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Crea tus Productos</h2>
        <p>Crea, ve los detalles, Modifica y Elimina.</p>
        <p><a class="btn btn-default" href="https://localhost:44362/Productos">Administracion de Productos &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Realiza tus Ventas</h2>
        <p>
            Crea, ve los detalles, Modifica y Elimina
        </p>
        <p><a class="btn btn-default" href="https://localhost:44362/CompraProductos">Administracion de Ventas &raquo;</a></p>
    </div>
    
</div>